$df_font_family: "Poppins";
$df_font_size: 14px;
$df_font_weight: 400;
$df_font_style: normal;

$df_line_height: 1.4;

$df_text_decoration: none;
$df_text_transform: none;

$df_border_radius: 10px;

$df_transition: 300ms;

$main_white: #fffefd;
$dark_white: rgba(255, 249, 249, 0.75);

$dark_grayish_blue: #022f40;
$dark_blue: #022f40;
$dark_green: #0b6b69;
$medium_orange: #d94d36;

$red_danger: #ff1515;
$orange_warning: #ffac16;
$green_success: #149814;
$blue_info: #4040f5;
