<nav class="navbar">
    <div class="navbar-brand">
        <a href="#" class="navbar-brand-link">
            Buy<span>MyServ</span>
        </a>
    </div>
    <ul class="navbar-links">
        <dropdown-menu
                title="Routeurs"
                icon="fa-toggle-on"
                links='[{"title": "Routeur1", "href": "/routeur1"}, {"title": "Routeur2", "href": "/routeur2"}]'>
        </dropdown-menu>


        <dropdown-menu
                title="Serveurs"
                icon="fa-server"
                links='[{"title": "Server1", "href": "/server1"}, {"title": "Server2", "href": "/server2"}]'>
        </dropdown-menu>

        <dropdown-menu
                title="Ordinateur"
                icon="fa-laptop"
                links='[{"title": "Ordinateur1", "href": "/ordinateur1"}, {"title": "Ordinateur2", "href": "/ordinateur2"}]'>
        </dropdown-menu>

        <dropdown-menu
                title="Écran"
                icon="fa-desktop"
                links='[{"title": "Ecran1", "href": "/ecran1"}, {"title": "Ecran2", "href": "/ecran2"}]'>
        </dropdown-menu>

        <li>
            <a href="#">
                <i class="fas fa-question-circle"></i>
                FAQ
            </a>
        </li>
        <li>
            <a href="#" class="btn btn-sm btn-primary">
                <i class="fa fa-phone"></i>
                Nous contacter
            </a>
        </li>
    </ul>
</nav>
<div class="navbar-fake"></div>
