
footer.footerSection {
  background: $dark_green;
  padding: 2.5vh 5rem 5vh;

  h6 {
    padding: 0 5px;
    display: inline-block;
    background: $main_white;
    color: $dark_grayish_blue;
    margin-bottom: 10px;

    span {
      color: $dark_green;
    }
  }

  div.footerSection-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    ul {
      flex: 0 0 33.33%;
      max-width: 33.33%;

      li {
        line-height: 2.5;

        a {
          color: $main_white;

          &:hover {
            color: $medium_orange;
          }

          i {
            font-size: 20px;
          }
        }
      }
    }

    ul:nth-child(2) {
      text-align: center;
    }

    ul:nth-child(3) {
      text-align: right;
    }
  }
}
